{{- $marketingCode := .Site.Params.marketingCode | default " " }}

<div id="display-form"></div>
<script>

// todo:  handle refreshing page, bypasses checkin

const container = document.getElementById('display-form');

function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i < ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}


let user = getCookie("fortiuser");
if (user == "") {

// action
//http://localhost:8080/reg/cookie.html
// container.innerHTML = '<form id="provision-lab" action="http://localhost:8080/reg/cookie.html">' +
//https://tecanalytics.forticloudcse.com/checkin
container.innerHTML = '<form id="provision-lab" onsubmit="setCookie(5)" action="https://tecanalytics.forticloudcse.com/checkin">' +
  '<b><font size="7">Welcome!</font></b><br>' +
  '<b><font color="red">Please check-in for this workshop to proceed (REQUIRED)</font></b>' +
 '<label for="email">Please enter your email address</label>' +
 '<input type="email" required id="email" name="EMail" value="" />' +
 '<label for="customer">Please enter an associated customer name (if any)</label>' +
 '<input type="text" id="customer" name="Customer" value="" />' +
 '<label for="event">Please enter the Event Name/Code or Smart Ticket (if any)</label>' +
 '<input type="text" id="event" name="Event" value="{{ $marketingCode }}" />' +
 '<input type="submit" value="Check-in" />' +
 '<input type="hidden" name="uid" id="uid" value="">' +
 '<input type="hidden" name="current_page" id="current_page" value="">' +
 '<input type="hidden" name="labdefinition" id="labdefinition" value="">' +
 '<hr>' +
 '</form>';
} else {
  container.innerHTML = '<p><b><font size="7">Welcome!</font></b></p><p><b>Thank you for checking into this session!  Your session will persist for 5 days across the Fortinet CSE Workshop estate.  You may now proceed with the workshop!!!</b></p><p>In the event you need to check-in again, simply click to reset your session: <button onclick="reProvision()">Revoke Check-in</button></p><hr>';
}
 </script>

<script>
  document.getElementById('current_page').value = window.location.href;
  var labdefinition = "something";
  document.getElementById('labdefinition').value = labdefinition;

  let uuid = crypto.randomUUID();
  document.getElementById('uid').value = uuid;
  function setCookie(exdays) {
    const cname = "fortiuser";
    const d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    let expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + uuid + ";" + expires + ";path=/";
  }
  function rmCookie(exdays) {
    const cname = "fortiuser";
    const d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    let expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + '' + ";" + expires + ";path=/";
  }

function reProvision() {
  rmCookie(0);
  location.reload();
}

</script>
