<a id="logo" href='{{relURL "index.html"}}' title="Fortinet TEC Program">
  <img
    style="vertical-align: middle"
    src='
        {{if (eq .Site.Params.themeVariant "Xperts2023") }}
            {{ relURL "images/xperts-2023-2-lines.svg" }}
        {{ else if (eq .Site.Params.themeVariant "Xperts2024")}}
            {{ relURL "images/xperts-2024-2-lines.svg" }}
        {{ else if (eq .Site.Params.themeVariant "Workshop")}}
            {{ relURL "images/white-logo.svg" }}
        {{ else }}
            {{ relURL "images/logo.svg" }}
        {{end}}'
    height="70px"
  />

    {{ with .Site.Params.logoBannerText }}
        <logoBanner id="title"> {{ . }} <br> </logoBanner>
    {{ else }}
        <logoBanner id="title"> {{ $.Site.Params.themeVariant }} <br> </logoBanner>
    {{ end }}

        <logoBannerFreeForm id="subtitle"> {{ $.Site.Params.logoBannerSubText }} </logoBannerFreeForm>
</a>
