<div>
  {{ $carouselName := .Get "name" | default "carousel" }}
  <div id="carousel{{ $carouselName }}">
    {{ $carousel := index .Page.Params $carouselName }} {{ if $carousel }} {{
    range $index, $slide := $carousel }}
    <div>
      <div>
        <img src="{{$slide.image}}" alt="{{$slide.caption}}" />
      </div>
      <div style="text-align: center"><b>{{$slide.caption}}</b></div>
    </div>
    {{ end }} {{ end }}
  </div>
</div>
<script>
  tns({
    container: "#carousel{{ $carouselName  }}",
    autoplay: true,
    autoplayButtonOutput: false,
    navPosition: "bottom",
    controlsPosition: "bottom",
  });
</script>
<style>
  .tns-controls {
    text-align: center;
    margin-bottom: 10px;
  }
  .tns-controls [aria-controls] {
    font-size: 15px;
    margin: 0 5px;
    padding: 0 1em;
    height: 2.5em;
    color: #000;
    background: lightblue;
    border-radius: 3px;
    border: 0;
  }
  .lt-ie9 .tns-controls > [aria-controls] {
    line-height: 2.5em;
  }
  [data-action] {
    display: block;
    margin: 10px auto;
    font-size: 17px;
    min-width: 3em;
    text-align: center;
    background: transparent;
    border: 0;
  }
  .tns-controls [disabled] {
    color: #999999;
    background: #b3b3b3;
    cursor: not-allowed !important;
  }
  .tns-nav {
    text-align: center;
    margin: 10px 0;
  }
  .tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
  }
  .tns-nav > .tns-nav-active {
    background: #999;
  }
</style>
