{{- $marketingCode := .Site.Params.marketingCode | default " " }}

<div id="display-form"></div>
<script>

// todo:  handle refreshing page, bypasses checkin

const container = document.getElementById('display-form');

function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i < ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}


let user = getCookie("fortiuser");
if (user == "") {

// action
//http://localhost:8080/reg/cookie.html
// container.innerHTML = '<form id="provision-lab" action="http://localhost:8080/reg/cookie.html">' +
//https://tecanalytics.forticloudcse.com/checkin
container.innerHTML = '<form id="provision-lab" action="https://tecanalytics.forticloudcse.com/checkin">' +
 '<label for="email">Please enter your email address for session check-in (required)</label>' +
 '<input type="email" required id="email" name="EMail" value="" />' +
 '<label for="customer">Please enter an associated customer name (if any)</label>' +
 '<input type="customer" id="customer" name="Customer" value="" />' +
 '<label for="event">Please enter the Event Name/Code or Smart Ticket (if any)</label>' +
 '<input type="event" id="event" name="Event" value="{{ $marketingCode }}" />' +
 '<input type="submit" value="Provision" />' +
 '<input type="hidden" name="uid" id="uid" value="">' +
 '<input type="hidden" name="current_page" id="current_page" value="">' +
 '<input type="hidden" name="labdefinition" id="labdefinition" value="">' +
 '</form>';
} else {
  container.innerHTML = '<p><b>Thank you for checking into this session!  You may now proceed with the workshop..</b></p>';
}
 </script>

<script>
  const uuid = crypto.randomUUID();
  document.getElementById('uid').value = uuid;
  document.getElementById('current_page').value = window.location.href;
  var labdefinition = "{{ .Get `labdefinition` }}";
  document.getElementById('labdefinition').value = labdefinition;

  function setCookie(cname,cvalue,exdays) {
    const d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    let expires = "expires=" + d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }
  setCookie("fortiuser", uuid, 5);
</script>
